<div ng-show="active == 'UI-Element'">
	<div style="margin-top: 43px;">
		<div class="panel panel-default">
			<div class="panel-heading">Window Time Elements</div>
			<div class="panel-body"> 
					<div style="float: right; margin-left: 5px">
						<auto-refresh-btn-group></auto-refresh-btn-group>
					</div>
					<div style="float: right; margin-left: 15px">
						<window-time-btn-group></window-time-btn-group>
					</div>
					<div style="float: right">
						<window-time-bar></window-time-bar>
					</div>
			</div>
		</div>
	</div>
	
	<div style="margin-top: 30px;">
		<div class="panel panel-default">
			<div class="panel-heading">Collapse Elements</div>
			<div class="panel-body"> 
				<collapse-example></collapse-example>
			</div>
		</div>
	</div>
	
	<div style="margin-top: 30px;">
		<div class="panel panel-default">
			<div class="panel-heading">Collapse Elements</div>
			<div class="panel-body"> 
				<tab-example></tab-example>
			</div>
		</div>
	</div>
</div>
