<div style="position:relative; background-color:#fff;">
	<div>
		<div>
			<div style="border-top: 1px solid #eee; border-bottom: 1px solid #eee; margin: 0 0 20px 0;">
				<table style="width: 100%;">
					<tr>
						<td valign="top" style="background-color: #e8e8e8; ">
							<div style="width: 200px; border: 0px solid #eee; ">
								
								<!-- Navigation Menu - Main Page -->
								<nav-menu></nav-menu>
							
							</div>
						</td>
						<td style="width: 100%;" valign="top">
							<div style="width: 100%; padding: 0px; border-left: 1px solid #eee">
							
								<!-- Contents - Main Page -->
								<main-contents></main-contents>
							
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		
	</div>
</div>

<slide-updown-window></slide-updown-window>
